 @font-face {
   font-family:"Raleway";
   src: url("Raleway-VariableFont_wght.ttf");
 }
  
  body{width: 1280px;
  height: 100vh;
 margin: 0;
 padding: 0;
 font-family: "Raleway", "sans Serif"; 
 font-weight: 500;
  }



  header{ display:grid; 
    max-width: 1350px;
    height:60px;
    margin-left: 10px;
   grid-template-rows: 30px 30px;
   grid-template-columns:repeat( 6, 200px);
 
  }


  .logo{ margin-top:-10px ;
  grid-area: 1/1;
  }
  .housing{  grid-area: 1/4;
   margin-left: 150px;
  font-size: 20px;
  margin-top: 10px;
  color:#0065FC ;
  text-decoration: overline #0065FC;
}

.activity {grid-area: 1/5;
    margin-left: 150px;
    margin-top: 10px;
    font-size: 20px;
      }
 .activity:hover{color:#0065FC;
  text-decoration: overline #0065FC
 }

  
  .register{grid-area: 1/6;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 20px;
    color: #0065FC;

  }          
 
    
  nav{ width: 900px;
    height: 140px;
  display: inline-flex;
  flex-direction: column;
  margin-left: 10px;    
  
}    /*h1 et aside class à prévoir
         pour petite resolution*/
        
 form{ margin-top: 30px;

 }  
 
 .loupe{display: none;
 }
 /*Rechercher  prevoir loupe pour media tel */ 
#plan{ background-color:  #0065FC;
  color: #fff; 
  border-bottom-right-radius: 10px;
  border-top-right-radius:10px; 
   font-size: 20px;


 } 
 .canebiere{ font-size: 20px;
border: 2px solid  #d9d9d9;
margin-right: -4px;

 }                       /*icone réprésentant une goutte*/
  .eau{border-bottom-left-radius: 17px;
border: 2px solid  #d9d9d9;
margin-right: -2px;
  padding-top: 6px;
border-top-left-radius: 17px;
  background-color:#d9d9d9;
 padding-left: 3px;
padding-bottom: 1px;
}                                   /*filtres*/
        
 
  .headernav{
  width: 860px;
  height: 180px;
  display:flex ;
  flex-direction: row;
  align-items:baseline;  
  margin-left: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
   
}
 
.headernav :hover{ cursor: pointer;

color:#0065FC;
font: bold;
transition-duration: 0,20;

}

  .filters{font-weight: bold;
 
  }
 .silver{margin-left:20px;
  width: 30px;
  height: 30px; 
padding-top: 10px;
padding-left: 10px;
margin-top:30px ;
border-radius: 2rem; 
background-color:#DEEBFF;
 }
.eco{
border: 2px solid  #d9d9d9;
border-radius: 2rem;
font-weight:bold;
margin-left: -40px;
width: 120px;
padding-left:40px;
padding-top:10px ;
padding-bottom:10px;
text-align: center;

}

  .family{
  width:40px;
  height: 30px;
 margin-left: 20px;
 text-align: center;
margin-top:10px;
padding-top: 10px;
border-radius: 2rem;
background-color:#DEEBFF ;
}
  
.everybody {border: 2px solid  #d9d9d9;
  border-radius: 2rem;  
  font-weight:bold;
  margin-left: -40px;
  width: 120px;
  padding-left:40px;
  padding-top:10px ;
  padding-bottom:10px;
  text-align: center;
 
}

.heart{width:40px;
  height: 30px;
 margin-left: 20px;
 text-align: center;
margin-top:10px;
padding-top: 10px;
border-radius: 2rem;
background-color:#DEEBFF ;
}

.romantic{border: 2px solid  #d9d9d9;
  border-radius: 2rem;  
  font-weight:bold;
  margin-left: -40px;
  width: 120px;
  padding-left:40px;
  padding-top:10px ;
  padding-bottom:10px;
  text-align: center;

}
.dog{width:40px;
  height: 30px;
 margin-left: 20px;
 text-align: center;
margin: top 25px;
padding-top: 10px;
border-radius: 2rem; 
flex-wrap: wrap;
background-color:#DEEBFF;

}
.animals{border: 2px solid  #d9d9d9;
  border-radius: 2rem;   
  font-weight:bold;
  margin-left: -40px;
  width: 170px;
  padding-left:40px;
  padding-top:10px ;
  padding-bottom:10px;
  text-align: center;
   margin-right: 10px;      
                 /*image "i" class aside*/
  }       
            
 .aside{
 margin-left: 5px;
 border: 2px solid  #d9d9d9;
    border-radius: 2rem;
 width: 30px;
 height: 30px;
 background-color: #fff;
 padding-bottom: 5px;
  align-self:center;
}

.info{font-size:15px;
  align-self: center;
 
margin-left: 10px;
}
      
  
       /*section principal composé de 9 logement*/
section{display:inline-grid;
  grid-template-columns: repeat( 3, 230px );
  grid-template-rows:50px 150px 90px 40px 30px 150px 90px 30px 80px; 
   column-gap: 30px;
   background-color:#F2F2F2;
   margin-left: 10px;padding: 20px;
   padding-bottom: 38px;
   border-radius: 15px;
    margin-top: 40px;
    box-shadow:3px 3px 5px 6px #f1f1f1; 
  }

.hebergement{ width: 350px;    /* hebergement a marseille*/
 margin-top: 8px;
 display:flex;
font-weight: bold;
flex-wrap: nowrap;
 }

.sectioncannebiere{ border:1px black ;
  width: 225px;
  height: 280px;
background-color:  #fff;
 grid-area:2/1; 
 border-radius: 15px;
 padding-left: 5px;
 padding-right: 5px;
 padding-top: 3px;
 box-shadow:3px 3px 5px 6px #f1f1f1;
}
.auberge{background-color:   #fff;
 border-top-left-radius: 10px;  /*image auberge*/
border-top-right-radius: 10px;
padding-top: 3px;
display: flex;
height: 150px;
width:225px;
background-size: cover;
contain:content;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
}
 
.sectionlamer{width:225px;
  height: 280px;
background-color:  #fff;
grid-area: 6/1;
padding-left: 5px;
 padding-right: 5px;
 padding-top: 5px;
 border-radius: 15px;
 box-shadow:3px 3px 5px 6px #f1f1f1
}
.hotelamer{
  background-color:  #fff;   /*image*/
  display: flex;
  height: 150px;
  width:225px;
  background-size: cover;
  contain:content;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

}
.sectionport{width:225px;
  height: 280px;
background-color:  #fff;
padding-left: 5px;
 padding-right: 5px;
 padding-top: 5px;
 border-radius: 15px;
grid-area:2/2 ;
box-shadow:3px 3px 5px 6px #f1f1f1
}

.hotelport{background-color:  #fff; /*image*/
padding-top: 3px;
display: flex;
height: 150px;
width:225px;
background-size: cover;
contain:content;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
}


.sectionpanier{width:230px;
  height: 280px;
background-color:  #fff;
 padding-top: 5px;
 padding-left: 5px;
 
 border-radius: 15px;
grid-area: 6/2;
box-shadow:3px 3px 5px 6px #f1f1f1
}

.aubergepanier{display: flex;
border-top-right-radius: 10px;/*image*/
background-color:  #fff;
height: 154px;
width: 225px;
display: flex;
width:225px;
background-size: cover;
contain:content;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
box-shadow:3px 3px 5px 6px #f1f1f1
}

.sectionmouettes{width:225px;
  height: 280px;
background-color: #fff;
grid-area:2/3 ;
 padding-top: 5px;
 border-radius: 15px;
padding-left: 5px;
padding-right: 5px;
box-shadow:3px 3px 5px 6px #f1f1f1
}
.hotelmouettes{display: flex;/*image*/
  width: 225px;

display: flex;
height: 150px;
background-size: cover;
contain:content;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
}


.sectionamina{width:230px;
  height: 280px;
background-color: #fff;
 grid-area: 6/3;
 padding-top: 5px;
 border-radius: 15px;
padding-left: 5px;

box-shadow:3px 3px 5px 6px #f1f1f1;
}
.hotelamina{display: flex;
  height: 150px;
  width:225px;
  background-size: cover;
  contain:content;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

}

aside{ grid-area: 10/1;
font-size: 20px;

}

/* section 2 =3 logement "populaire" */
.populaire{display: inline-grid;
 height: 740px;
 width: 350px;
grid-template-rows: 50px 210px 30px 210px 30px 210px;
grid-template-columns: 120px 200px;
margin-top: -20px;
padding:20px;
padding-bottom: 30px;
background-color:#F2F2F2;
margin-left: 550px;
border-radius: 15px;
box-shadow:3px 3px 5px 6px #f1f1f1;
}

.lesplus{ width: 350px;
  height: 50px; 
  font-weight: 800; 
 margin-top: 8px;
}
.anchor{ display:flex;
  width: 30px;
  height: 30px;
  grid-area: 1/2;
margin-left: 170px; 
background-color:#F2F2F2 ;           
                     /*hotel du matin*/
}
.sectiondumatin{width: 350px;
  height: 210px;
  background-color: #fff;
   border-radius: 15px;
  padding: 5px;
  box-shadow:3px 3px 5px 6px #f1f1f1;
                      /*image hotel*/
}
.matin{display:flex;
  width: 120px; 
  height: 210px;
}

.soleil{ 
margin-left:180px;
margin-top:-200px;

}  /*paragraphe*/
.nuitsoleil{margin-left: 180px;
  
}
.starmatin{width: 150px;
  height: 40px;  
 margin-left: 180px;
margin-top:50px;

}
               /*section hotel de l'eau*/
.section_eau{width: 350px;
  height: 210px;
  margin-bottom:10px;
  background-color: #fff;
  grid-area: 4/1;
  border-radius: 15px;
  padding: 5px; 
  box-shadow:3px 3px 5px 6px #f1f1f1;
}
         /*image*/
.eau_2{width: 115px; 
  height: 210px;
 border-color: white;
margin-top: -7px;
}

.hotel_eau{margin-left: 180px;
  margin-top: -200px;
}
        
.nuit_eau{margin-left: 180px;

}
.star_eau{width: 150px;
  height: 40px;  
 margin-left: 180px;
margin-top:50px;
 
}
.section_bleu{width: 350px;
  height: 210px;
  border-radius: 15px;
  padding: 5px; background-color: #fff; 
  grid-area: 6/1;
  box-shadow:3px 3px 5px 6px #f1f1f1;
}                  /*image*/
.bleu{height: 210px;

}

.hotel_bleu{
   margin-left:180px;
   margin-top:-190px;
}
.nuit_bleu{ margin-left:180px;
  
}
.star_bleu{width: 150px;
  height: 40px;  
 margin-left: 180px;
margin-top:50px;

}
article{display:inline-grid;  /*partie activité à marseille*/
  width: 1210px;
  height: 580px;
background-color: #fff;
margin-top: 50px;
margin-left: 10px;
grid-template-columns: repeat(4, 1fr);
grid-template-rows:50px 190px 30px 30px 30px
190px 50px;
column-gap:20px;
border: 1px solid #F2F2F2 ;



 }
 
 .c_1{
   height: 520px;
   width: 295px; 
  grid-area: 2/1;
  display: inline-grid; 
  border-radius: 20px;
  box-shadow:3px 3px 5px 6px #f1f1f1;
 
 }
.a_m{font-weight:bolder;
}
 
 /*activités à marseille*/
.image_port{                   /*column_1*/
grid-area: 2/1;
border-top-left-radius: 20px;
 height: 470px;
 width: 295px;
  contain:content;                        
    }

    .v_1{grid-area: 7/1;
      margin-left: 10px;
    font-weight: 800; 

    }
  .c_2{width: 285px;
height:260px;
box-shadow:3px 3px 5px 6px #f1f1f1;
margin-top: 52px;
border-radius: 20px;
display:inline-grid;
  }

    /*column_2*/
.image_fort{
  border: 2px solid #F2F2F2;
 width: 285px;
 height: 180 px;
  contain: content;
  border-top-left-radius: 20px;
border-top-right-radius: 20px;
  
 
}

.pomegue{margin-left: 15px;
 margin-top: 10px;
 font-weight:800;
}

.c_3{width: 285px;
  height: 240px;
display: inline grid;

margin-top: 15px;
box-shadow:3px 3px 5px 6px #f1f1f1;
border-radius: 20px;
}
.image_frioul{ 
height: 190px;
width: 285px;
contain: content;
border-top-left-radius:20px;
border-top-right-radius:20px;

}
.frioul{ margin-left:15px ;
font-weight: 800;
margin-top: 15px;

}
.c_4{ width: 290px;
  height: 520px; 

box-shadow:3px 3px 5px 6px #f1f1f1;
border-radius: 20px;
display: inline grid;
grid-area: 2/3;
}

.image_calanque{        /*column_3*/
   grid-area: 2/3;
 width: 288px;
 height:470px ;
 contain:content;
 border-top-left-radius: 20px;
 border-top-right-radius: 20px;
 display: flex;
}
.parc{grid-area: 7/3;
  margin-left: 10px;
 font-weight: 800; 
margin-top: 10px;
} 
.c_5{ width: 288px;
  height: 250px;
  box-shadow:3px 3px 5px 6px #f1f1f1;
  border-radius: 20px;
margin-top: 50px;


}                          /*column_4*/
.image_dame{
 width: 288px;
 height: 190px;
 contain: content;
 border-top-left-radius: 20px;
  border-top-right-radius: 20px; 
} 
.notre{ margin-left: 15px;
 font-weight: 800; 
}
.c_6{ width: 288px;
   height: 250px;
margin-top: 20px;
box-shadow:3px 3px 5px 6px #f1f1f1;
border-radius: 20px;
}

.image_longchamp{
  width: 288px;
  height: 200px;
  contain: content;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}
.lonchamp{ margin-left:15px;
margin-top: 10px;
font-weight: 800;
}

footer{display: grid;
 width: 1210px;
 height: 180px;
grid-template-columns :repeat(3, 1fr);
margin-top: 50px;
grid-template-rows: auto;
background-color:#F2F2F2;
margin-left: 10px;
box-shadow:3px 3px 5px 6px #f1f1f1;
}
h3{font: 300 black;
font-size: color black;
}


h2{ font-weight: 800;




}

article :hover{ color: aqua;

}
section :hover{ color: rgb(111, 0, 255);

}
a
{

text-decoration:none;
color: black;

}
   
@media only screen and (min-width: 300px) and (max-width: 480px){
 
 body{width:auto;

 }
 
 
 
  header{
 min-width: 300px;
max-width: 400px;


    height: 100px;
    grid-template-columns: auto;
  grid-template-rows: auto;
align-self: stretch;
  }
  
  .housing{ grid-area: 2/1;
  margin-left: -20px;
  
  border-bottom: 2px solid #0065FC; 
  text-decoration: none;
  width: 220px;
  padding-left: 30px;
  
  }
  .activity{ grid-area: 2/2;
  margin-left: -20px;
  
  border-bottom: 2px solid #F2F2F2;
  text-decoration: none;
  width: 240px;
  padding-left: 50px;
  
  } 
  .register{  grid-area :1/2;
  margin-left:70px;
  }
  
  nav{flex-wrap: wrap;
  width: 400px;
  height: 180px;
    }
  
  form{  
    
  margin-left:-350px;
  margin-top: 140px;
  border: 2px color #d9d9d9;
  }
  
  .eau{padding-top:6px;
  padding-bottom: -1px;

  }
  #plan{display: none;
  }
  
  .loupe{display: inline;
    border: 1px black solid;
  width: 20px;
  padding-top: 6px;
  padding-bottom: 1px;
  border-radius: 5px;
  margin-left: -5px;
  background-color:#0065FC; 
  padding-left: 3px;
  padding-right: 2px;
  }
  .headernav{ 
  width: 340px;
  height:280px;
  align-self: stretch;

  }
  .eco{
    margin-top:70px;
  align-self: flex-start;
  
  }    
  .filters {
  align-self: flex-start;
  margin-left: 5px;
  
  }
  .silver{align-self: start;
  margin-top: 70px;
  margin-left:-70px;
  }
  
  .everybody{align-self: flex-end;
  margin-left: 172px;
  margin-top: -61px;
  }
  
  .family{margin-top: 78px;
  margin-left: 15px;
 
}
  
  .romantic{margin-top: -20px;
  margin-bottom: 25px;
  }
  .heart{margin-left: -5px;
  }
      
  .animals{margin-left:-07px;
  position: relative;
  
  }
  
  .dog{
  margin-top: 197px;
  position: absolute;
  display:grid;
   margin-left: -5px;     
  padding-left: 10px;
  padding-right: -15px;
  width: 30px;

}
  
  .aside{margin-left: -220px;
  margin-top: 60px;
  }
    
  
  .info{ margin-left: 50px;
  margin-top:-36px;
  }
  .populaire{margin-left:-13px;
margin-top: -64rem;
    }
    
    section{ margin-top:54rem;
    width: 360px;
    height: 1900px;
    grid-template-rows: 50px 150px 90px 40px 30px 150px  90px 30px 40px 280px 
     30px 280px  30px 280px 30px 280px 30px 30px; 
      grid-template-columns: 360px;      
           padding-bottom: 40px;
    background-color: #fff;
          }
    .hebergement{
    grid-area: 1/1;
     
    }
    
    
.sectioncannebiere{
  display: flex; 
  width: 350px;
  
 }
 .auberge{  width:350px;
   height: 150px;       
 display:flex;
 border-top-left-radius: 20px;
 border-top-right-radius: 20px;

 }
 .sectionport{
   grid-area: 6/1;
 width: 350px;  
 }
 .hotelport{display: flex;
   width: 350px;
 height: 150px;
 border-top-left-radius: 20px;
 border-top-right-radius: 20px;   
 }
 
 
 .sectionmouettes{
   grid-area: 10/1;
 width: 350px;

 }
 
 .sectionlamer{
  grid-area:12/1;
  width: 350px;   
 }
 .hotelamer{ width: 350px;
   height: 150px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
 
 }
 
 .sectionpanier{
   grid-area:  14/1;
   width: 350px;

 }
 
 .aubergepanier{width: 350px;
   height: 150px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
 
 }
 .sectionamina{
   grid-area: 16/1;
   width: 350px;
 }
 
 .hotelamina{width: 350px;
   height: 150px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px
 
 }
 aside{
   grid-area:18/1;
 }
 
 
 .hotelmouettes{display:flex;

 width: 350px;
 border-top-left-radius: 20px;
 border-top-right-radius: 40px;
 contain: content;
 }

 article { width: 400px;
  grid-template-columns: 360px;
  grid-template-rows: 50px 190px 40px 50px 30px
  190px 50px 50px 190px 30px 30px 30px 190px 50px 190px 30px 30px 190px
  30px 30px 30px 190px 30px  30px 30px 190px;
height: 1400px;
margin-top: 1px;

display:grid;     
padding-top: 25px;

}
.image_port{width: 350px;
height: 200px;
contain:content;
margin-top: -12px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}
.a_m{
 margin-top:5px;
}
.image_fort{ 

width: 350px;
height: 205px;
contain: content;
border-top-left-radius:20px;
border-top-right-radius:20px;

}

.v_1{margin-left: 20px;
  grid-area: 4/1;
margin-top: 10px;
}
#column_1{

margin-left: 10px;

}
.c_1{height: 280px;
  width: 350px;
background-color: #fff;
grid-area: 2/1;
 box-shadow:3px 3px 5px 6px #f1f1f1;
 margin-left: 10px;
 border-radius: 20px;
}

.c_2
{ 

height: 280px;
width: 350px;box-shadow:3px 3px 5px 6px #f1f1f1;
grid-area: 6/1;
margin-top: 5px;
}

.c_3{
  height: 280px;
  width: 350px; 
  box-shadow:3px 3px 5px 6px #f1f1f1;
 margin-top: 50px;

}

.image_frioul{width: 350px;
height: 200px;
contain: content;
border-top-left-radius:20px;
border-top-right-radius:20px;
}

.c_4{ 
  height: 280px;
  width: 350px;
  display: grid; 
  grid-area: 13/1;
  margin-top: 50px;
  margin-left: 10px;
}
.image_calanque{
grid-area: 13/1;
  width: 350px;
  height: 200px;
  contain: content;
 margin-top:-90px;
 display: grid;
}
.parc{
  grid-area: 15/1;

}
.c_5{
  height: 280px;
  width: 350px;
margin-left: 10px;
}
.image_dame{ width: 350px;
  height: 200px;
contain: content;
}

.c_6{
  height: 280px;
 width: 350px;
margin-left: 10px;
}

.image_longchamp{width: 350px;
  height: 200px;
contain: content;

}

#column_2{
  margin-left: 10px;
  grid-area: 6/1;
}
#column_3{grid-area: 13/1;

}
#column_4{grid-area: 15/1;
margin-top: 65px;
}



footer{margin-top: 500px;
grid-template-columns:360px;
grid-template-rows: 200px 150px 150px;
width: 360px;
height: 500px;

}
.p_1, .p_2,.h_2,.h_3,.a_3,.a_4 {margin-left: 10px;

}

}
  
@media only screen and (min-width: 480px) and (max-width: 720px){
  
body{ width: auto;
  background-color: aqua;

}
 
header{ width: auto;

}
  
 .housing{ grid-area: 2/2;
  margin-left: -20px;

} 

.activity{ grid-area: 2/3;
  margin-left: -10px;

}
.register{  grid-area :1/4;
  margin-left: -40px;
 
  }

  .headernav{ 
    width: 650px;
    height:250px;
 flex-wrap: wrap;
  }


.aside{display:inline-flex;
 margin-top: 50px;
 margin-left:-250px;
}


.info{margin-top: 50px;

}

.populaire{ display:inline-grid;
margin-left: -21.5rem;
margin-top:-51rem; 
width: 620px;
}

.lesplus{ width: 350px;
  height: 50px; 
  font-weight: 800; 
 margin-top: 8px;
}
.anchor{ display:flex;
  width: 30px;
  height: 30px;
  grid-area: 1/2;
margin-left:27em; 
background-color:#F2F2F2 ;    

}
section{ margin-top: 51rem;
  height:1030px;
  width: 620px;
  grid-template-columns: 295px  295px;
}
.sectiondumatin{width: 610px;

}

.section_eau{width: 610px;
}

.section_bleu{width: 610px;
}

.sectionmouettes{ grid-area: 9/1;
  margin-top: 3rem;
width: 290px;
contain: content;
}
.hotelmouettes{
  width: 290px; 
}

.sectionamina{ grid-area: 9/2;
margin-top: 3rem;
width: 290px;

}
.hotelamina{
width: 290px;
}
.sectioncannebiere,.auberge{
  width: 290px;
} 
.sectionport,.hotelport{ width: 290px;

}

.sectionlamer,.hotelamer{ width: 290px;
  
}
.sectionpanier,.aubergepanier{ width: 290px;

}

aside{ 

 margin-top: 20rem;
}
article{height: 1150px;
  width: 665px;
  grid-template-columns: 320px 335px;
margin-top: 30px;
}
.c_4{grid-area: 8/1;
}
.c_1,.c_4,.c_5,.c_6,.c_2,
.image_port,
.image_calanque,
.image_longchamp,
.image_dame ,.image_fort,
.c_3,.image_frioul
{
  width:320px;
contain:content;
}


#column_4{grid-area: 8/2;
margin-top:-50px;
}

footer{width: 670px;
height: 230px;
flex-wrap: wrap;
}
.p_1,.p_2{margin-left: 10px;

}
.h_2,.h_3{ margin-left: 30px;

}
.a_3,.a_4{margin-left: 50px;

}










}