
  
  body{width: 1280px;
    height: 100vh;
 margin: 0;
 padding: 0;
 font-family: "Raleway", "sans Serif"; 
 font-weight: 500;
  }
 

  header{ display:grid; 
    max-width: 1350px;
    height:60px;
    margin-left: 10px;
   grid-template-rows: 30px 30px;
   grid-template-columns:repeat( 6, 200px);
 

  }
   
  .logo{ margin-top:-10px ;
  
  }
  .housing{  grid-area: 1/4;
   margin-left: 150px;
  font-size: 20px;
  margin-top: 10px;
  color:#0065FC ;
  text-decoration: overline #0065FC;
}

.activity {grid-area: 1/5;
    margin-left: 150px;
    margin-top: 10px;
    font-size: 20px;
      }
 .activity:hover{color:#0065FC;
  text-decoration: overline #0065FC
 }

  
  .register{grid-area: 1/6;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 20px;
    color: #0065FC;

  }          
 
    
  nav{ width: 900px;
    height: 140px;
  display: inline-flex;
  flex-direction: column;
  margin-left: 10px;    
  
}    /*h1 et aside class à prévoir
         pour petite resolution*/
        
 form{ margin-top: 30px;

 }  
 
 .loupe{display: none;
 }
 /*Rechercher  prevoir loupe pour media tel */ 
#plan{ background-color:  #0065FC;
  color: #fff; 
  border-bottom-right-radius: 10px;
  border-top-right-radius:10px; 
   font-size: 20px;
border: 2px solid  #d9d9d9;

 } 
 .canebiere{ font-size: 20px;
border: 2px solid  #d9d9d9;
margin-right: -4px;
 
 }                       /*icone réprésentant une goutte*/
  .eau{border-bottom-left-radius: 17px;
border: 2px solid  #d9d9d9;
margin-right: -2px;
  padding-top: 6px;
border-top-left-radius: 17px;
  background-color:#d9d9d9;
 padding-left: 3px;
padding-bottom: 1px;
}                                   /*filtres*/
        
 
  .headernav{
  width: 860px;
  height: 180px;
  display:flex ;
  flex-direction: row;
  align-items:baseline;  
  margin-left: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
   
}
 
.headernav :hover{ cursor: pointer;

color:#0065FC;
font: bold;
transition-duration: 0,20;

}

  .filters{font-weight: bold;
 
  }
 .silver{margin-left:20px;
  width: 30px;
  height: 30px; 
padding-top: 10px;
padding-left: 10px;
margin-top:30px ;
border-radius: 2rem; 
background-color:#DEEBFF;
 }
.eco{
border: 2px solid  #d9d9d9;
border-radius: 2rem;
font-weight:bold;
margin-left: -40px;
width: 120px;
padding-left:40px;
padding-top:10px ;
padding-bottom:10px;
text-align: center;

}

  .family{
  width:40px;
  height: 30px;
 margin-left: 20px;
 text-align: center;
margin-top:10px;
padding-top: 10px;
border-radius: 2rem;
background-color:#DEEBFF ;
}
  
.everybody {border: 2px solid  #d9d9d9;
  border-radius: 2rem;  
  font-weight:bold;
  margin-left: -40px;
  width: 120px;
  padding-left:40px;
  padding-top:10px ;
  padding-bottom:10px;
  text-align: center;

}

.heart{width:40px;
  height: 30px;
 margin-left: 20px;
 text-align: center;
margin-top:10px;
padding-top: 10px;
border-radius: 2rem;
background-color:#DEEBFF ;
}

.romantic{border: 2px solid  #d9d9d9;
  border-radius: 2rem;  
  font-weight:bold;
  margin-left: -40px;
  width: 120px;
  padding-left:40px;
  padding-top:10px ;
  padding-bottom:10px;
  text-align: center;

}
.dog{width:40px;
  height: 30px;
 margin-left: 20px;
 text-align: center;
margin: top 25px;
padding-top: 10px;
border-radius: 2rem; 
flex-wrap: wrap;
background-color:#DEEBFF;

}
.animals{border: 2px solid  #d9d9d9;
  border-radius: 2rem;   
  font-weight:bold;
  margin-left: -40px;
  width: 170px;
  padding-left:40px;
  padding-top:10px ;
  padding-bottom:10px;
  text-align: center;
   margin-right: 10px;      
                      /*image "i" class aside*/
  }       
            
 .aside{
 margin-left: 5px;
 border: 2px solid  #d9d9d9;
    border-radius: 2rem;
 width: 30px;
 height: 30px;
 background-color: #fff;
 padding-bottom: 5px;
  align-self:center;
}

.info{font-size:15px;
  align-self: center;
 
margin-left: 10px;
}
      
  
       /*section principal composé de 9 logement*/
section{display:inline-grid;
  grid-template-columns: repeat( 3, 230px );
  grid-template-rows:50px 150px 90px 40px 30px 150px 90px 30px 80px; 
   column-gap: 30px;
   background-color:#F2F2F2;
   margin-left: 10px;padding: 20px;
   padding-bottom: 38px;
   border-radius: 15px;
    margin-top: 80px;
  }

.hebergement,h2{ width: 300px;    /* hebergement a marseille*/
   display: inline;}

.sectioncannebiere{ border:1px black ;
  width: 225px;
  height: 280px;
background-color:  #fff;
 grid-area:2/1; 
 border-radius: 15px;
 padding-left: 5px;
 padding-right: 5px;
 padding-top: 3px

}
.auberge{background-color:   #fff;
 border-top-left-radius: 10px;  /*image auberge*/
border-top-right-radius: 10px;
padding-top: 3px;

}
 
.sectionlamer{width:225px;
  height: 280px;
background-color:  #fff;
grid-area: 6/1;
padding-left: 5px;
 padding-right: 5px;
 padding-top: 5px;
 border-radius: 15px;
}
.hotelamer{
  background-color:  #fff;   /*image*/

}
.sectionport{width:225px;
  height: 280px;
background-color:  #fff;
padding-left: 5px;
 padding-right: 5px;
 padding-top: 5px;
 border-radius: 15px;
grid-area:2/2 ;
}

.hotelport{background-color:  #fff; /*image*/
padding-top: 3px;
}


.sectionpanier{width:225px;
  height: 280px;
background-color:  #fff;
 padding-top: 5px;
 padding-left: 5px;
 
 border-radius: 15px;
grid-area: 6/2;
}

.aubergepanier{display: flex;
border-top-right-radius: 10px;/*image*/
background-color:  #fff;
height: 154px;
width: 225px;
}

.sectionmouettes{width:225px;
  height: 280px;
background-color: #fff;
grid-area:2/3 ;
 padding-top: 5px;
 border-radius: 15px;
padding-left: 5px;
padding-right: 5px;
}
.hotelmouettes{display: flex;/*image*/
  width: 225px;
padding-right: 10px;
}

.sectionamina{width:225px;
  height: 280px;
background-color: #fff;
 grid-area: 6/3;
 padding-top: 5px;
 border-radius: 15px;
padding-left: 5px;
padding-right: 7px;

}
aside{ grid-area: 10/1;
font-size: 20px;

}

/* section 2 =3 logement "populaire" */
.populaire{display: inline-grid;
 height: 740px;
 width: 360px;
grid-template-rows: 50px 210px 30px 210px 30px 210px;
grid-template-columns: 120px 200px;
margin-top: -20px;
padding:20px;
padding-bottom: 30px;
background-color:#F2F2F2;
margin-left: 530px;
border-radius: 15px;
}

.lesplus{ width: 350px;
  height: 50px; 
   

}
.anchor{ display:flex;
  width: 30px;
  height: 30px;
  grid-area: 1/2;
margin-left: 170px; 
background-color:#F2F2F2 ;           
                     /*hotel du matin*/
}
.sectiondumatin{width: 350px;
  height: 210px;
  background-color: #fff;
   border-radius: 15px;
  padding: 5px;
  
                      /*image hotel*/
}
.matin{display:flex;
  width: 120px; 
  height: 210px;
}

.soleil{ 
margin-left:180px;
margin-top:-200px;

}  /*paragraphe*/
.nuitsoleil{margin-left: 180px;
  
}
.starmatin{width: 150px;
  height: 40px;  
 margin-left: 180px;
margin-top:50px;

}
               /*section hotel de l'eau*/
.section_eau{width: 350px;
  height: 210px;
  margin-bottom:10px;
  background-color: #fff;
  grid-area: 4/1;
  border-radius: 15px;
  padding: 5px;  
}
         /*image*/
.eau_2{width: 115px; 
  height: 210px;
 border-color: white;
margin-top: -7px;
}

.hotel_eau{margin-left: 180px;
  margin-top: -200px;
}
        
.nuit_eau{margin-left: 180px;

}
.star_eau{width: 150px;
  height: 40px;  
 margin-left: 180px;
margin-top:50px;
 
}
.section_bleu{width: 350px;
  height: 210px;
  border-radius: 15px;
  padding: 5px; background-color: #fff; 
  grid-area: 6/1;
}                  /*image*/
.bleu{height: 210px;

}

.hotel_bleu{
   margin-left:180px;
   margin-top:-190px;
}
.nuit_bleu{ margin-left:180px;
  
}
.star_bleu{width: 150px;
  height: 40px;  
 margin-left: 180px;
margin-top:50px;

}
article{display:inline-grid;  /*partie activité à marseille*/
  width: 1210px;
  height: 580px;
background-color: #fff;
margin-top: 50px;
margin-left: 10px;
grid-template-columns: repeat(4, 1fr);      
grid-template-rows:50px 190px 30px 30px 30px 
190px 50px;
column-gap:20px;
border: 1px solid #F2F2F2 ;
box-shadow:black;
border-radius: 10px;
 }                                /*activités à marseille*/
.image_port{                   /*column_1*/
  margin-top: 22px;
  border: 2px solid #F2F2F2;
  box-shadow:black;
  border-radius: 10px;                            
    }                                                      /*column_2*/
.image_fort{margin-top: 50px;
  border: 2px solid #F2F2F2;
  box-shadow:black;
}

.pomegue{margin-left: 15px;
}

.image_frioul{margin-top: 73px;
  border: 2px solid #F2F2F2;
  box-shadow:black;
}
.frioul{ margin-left:15px ;

}

.image_calanque{  margin-top: 50px;           /*column_3*/
  border: 2px solid #F2F2F2;
  box-shadow:black;
}
.parc{margin-left:15px ;
  border: 2px solid #F2F2F2;
  box-shadow:black;
}                           /*column_4*/
.image_dame{margin-top: 50px;
  border: 2px solid #F2F2F2;
  box-shadow:black;
} 
.notre{ margin-left: 15px;
  
}

.image_longchamp{margin-top: 40px;
  border: 2px solid #F2F2F2;
  box-shadow:black;
}
.lonchamp{ margin-left:15px;
 font-style:  black;
}

footer{display: grid;
 width: 1210px;
 height: 130px;
grid-template-columns :repeat(3, 1fr);
margin-top: 50px;
grid-template-rows: auto;
background-color:#F2F2F2;
margin-left: 10px;
cursor: alias;
}
h3{font: 300 black;
font-size: color black;
}





h2{ font-weight: 400;

}
footer :hover{ color: #0065FC;

}

article :hover{ color: aqua;

}
section :hover{ color: rgb(111, 0, 255);

}
a
{


text-decoration:none;
color: black;

}
 


@media( max-width:480px) {
  header{ width: 500px;
    height: 100px;
    grid-template-columns: auto;
  grid-template-rows: auto;
  }
  
  .housing{ grid-area: 2/1;
  margin-left: -20px;
  
  border-bottom: 2px solid #0065FC; 
  text-decoration: none;
  width: 220px;
  padding-left: 30px;
  
  }
  .activity{ grid-area: 2/2;
  margin-left: -20px;
  
  border-bottom: 2px solid #F2F2F2;
  text-decoration: none;
  width: 240px;
  padding-left: 50px;
  
  }
  
  body{background-color: yellow;
  
  
  }
  .register{  grid-area :1/2;
  margin-left:70px;
  }
  
  nav{flex-wrap: wrap;
  width: 400px;
  height: 180px;
  
  }
  
  form{  
    
  margin-left:-350px;
  margin-top: 140px;
  border: 2px color #d9d9d9;
  }
  
  .eau{padding-top:6px;
  padding-bottom: -1px;

  }
  #plan{display: none;
  }
  
  .loupe{display: inline;
    border: 1px black solid;
  width: 20px;
  padding-top: 6px;
  padding-bottom: 1px;
  border-radius: 5px;
  margin-left: -5px;
  background-color:#0065FC; 
  padding-left: 3px;
  padding-right: 2px;
  }
  .headernav{ 
  width: 340px;
  height:280px;
  
  }
  .eco{
    margin-top:70px;
  align-self: flex-start;
  
  }
  
  
  .filters {
  align-self: flex-start;
  margin-left: 5px;
  
  }
  .silver{align-self: start;
  margin-top: 70px;
  margin-left:-70px;
  }
  
  .everybody{align-self: flex-end;
  margin-left: 172px;
  margin-top: -61px;
  }
  
  .family{margin-top: 78px;
  margin-left: 15px;
 
}
  
  .romantic{margin-top: -20px;
  margin-bottom: 25px;
  }
  .heart{margin-left: -5px;
  }
  
  
  
  
  .animals{margin-left:-07px;
  position: relative;
  
  }
  
  .dog{
  margin-top: 197px;
  position: absolute;
  display:grid;
   margin-left: -5px;     
  padding-left: 10px;
  padding-right: -15px;
  width: 30px;

}
  
  .aside{margin-left: -220px;
  margin-top: 60px;
  }
  
  
  
  
  .info{ margin-left: 50px;
  margin-top:-36px;
  }
  
  .populaire{ margin-left: -280px;
    margin-top: -800px;
    display: inline-grid;
    }
    
    
    
    
    
    section{ margin-top:820px;
    width: 360px;
    height: 2202px;
    grid-template-rows: 50px 150px 90px 40px 30px 150px  90px 30px 40px 280px 
     30px 280px  30px 280px 30px 280px 30px 30px; 
       
    }
    .hebergement{
    grid-area: 1/1;
    font-size: 15px;
    }
    
    
    
    
    .sectioncannebiere{
     width: 350px; 
    
    }
    .auberge{  width: 350px;;                
      list-style-image:350px; 
     
    }
    
    
    .sectionport{
      grid-area: 6/1;
    
    }
    .hotelport{display: flex;
      width: 300px;
    background-size: 300px;
    }
    
    .sectionmouettes{
      grid-area: 10/1;
    
    }
    
    .sectionlamer{
     grid-area:12/1;
    }
    .sectionpanier{
      grid-area:  14/1;
    
    }
    .sectionamina{
      grid-area: 16/1;
    }
    aside{
      grid-area:18/1;
    }
    
    
    .hotelmouettes{display: flex;
    width: 100%;
    width: 350px;
    }
    }
  
  
  

  
  
  
